span {
  display: block;
  text-align: center;
}

.row {
  padding: 10% 30% 10% 30%;
}

.padding_buttom {
text-align: center;
}
.display1 {
  display: none;
}
img {
  text-align: center;
  margin: auto;
}

h1 {
  text-align: center ;
  padding-top: 5%;
}
